<!DOCTYPE html>
<meta name="msvalidate.01" content="FAC79B0FBF5E9A9C2338AC3883150314" />
<html lang="en-us">

  {% include head.html %}
  <script src="//instant.page/1.0.0" type="module" integrity="sha384-6w2SekMzCkuMQ9sEbq0cLviD/yR2HfA/+ekmKiBnFlsoSvb/VmQFSi/umVShadQI"></script>

  <body class="{{ page.layout }}{% if page.url == '/' %} home{% endif %}">

    {% include sidebar.html %}

    <main class="container">
      {{ content }}
    </main>

    {% include custom-foot.html %}
  </body>
</html>
